@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


 *{
    margin-top: 40px;
 } 
.container-cart img{
    width: 200px;   
    align-items: center;
    justify-content: center;
    margin-left: 00px;
    margin-top: 50px;
}

.container-cart {
    background-color: antiquewhite;
    width: 600px;
    height: 600px;
    align-items: center;
    margin-left: 450px;
    border-radius: 5%;
    margin-top: 200px ;
    font-family: "Roboto", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;   
}
.container-cart a img {
    width: 50px;
    padding: 0px;
    margin-top: 0px;
}
    

